.root {
    -fx-padding: 15;
    -fx-background-color: #f5f5f5;
}

.text-field {
    -fx-font-family: "Consolas";
    -fx-font-size: 13px;
    -fx-pref-height: 30px;
}

.button {
    -fx-background-color: #2d89ef;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 30px;
}

